{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.hobbi) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

<button type="submit">Submit!</button>
{{ form_end(form) }}